@model FormEditVM
@{
    int counter = 0;
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" placeholder="Write a suggestive @Html.DisplayNameFor(model => model.Name)"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="ImportanceId" class="control-label"></label>
            <select asp-for="ImportanceId" class="form-control selectpicker importance">
                @{
                    counter = 0;
                    foreach (var importance in Model.ImportanceList)
                    {
                        if (counter >= Model.ImportanceColors.Count)
                        {
                            counter = 0;
                        }

                        <option value="@importance.Id"
                                data-content="<i class='glyphicon glyphicon-exclamation-sign @(Model.ImportanceColors.ElementAt(counter++))'></i> @importance.Name">
                            @importance.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3 status">
            <label asp-for="StatusId" class="control-label"></label>
            <select asp-for="StatusId" class="form-control selectpicker status">
                @{
                    counter = 0;
                    foreach (var status in Model.StatusList)
                    {
                        if (counter >= Model.StatusColors.Count)
                        {
                            counter = 0;
                        }

                        <option value="@status.Id"
                                data-content="<i class='glyphicon glyphicon-stop @(Model.StatusColors.ElementAt(counter++))'></i> @status.Name">
                            @status.Name
                        </option>
                    }
                }
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control textarea textarea--vertical" rows="4"
              placeholder="Write a short @Html.DisplayNameFor(model => model.Description)"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label asp-for="Sections" class="control-label"></label>
        </div>
        <div>
            <table class="table">
                <thead class="page-header">
                    <tr class="active">
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>ModifiedBy</th>
                        <th>ModifiedDate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        counter = 1;
                        foreach (var formSection in Model.Sections)
                        {
                            <tr>
                                <td class="text-center">@(counter++)</td>
                                <td>@formSection.Name</td>
                                <td>@formSection.ModifiedBy</td>
                                <td>@formSection.ModifiedDate.ToString("dd.MMM HH:mm tt")</td>
                                <td>
                                    <a asp-route="EditSection" asp-route-id="@formSection.Id" class="text-info">
                                        <i class="glyphicon glyphicon-edit icon icon-lg"></i>
                                    </a>
                                    <a asp-route="DeleteSection" asp-route-id="@formSection.Id" class="text-danger">
                                        <i class="glyphicon glyphicon-trash icon icon-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="panel-body text-center">
                @*<a href="/Forms/@Model.Id/Sections/Create" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Section
                </a>*@
                <button type="submit" class="btn btn-success" formaction="@Url.Action("FormCreateToSession", "Forms")" formmethod="post">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Section
                </button>
            </div>
        </div>
    </div>
</div>