@model IEnumerable<FormBriefVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<h2>Forms</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table forms-table">
            <thead class="page-header">
                <tr class="active">
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th class="col-md-2">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-exclamation-sign icon icon-lg
                               @(item.ImportanceLevel == 2 ? "text-info" : "text-danger")"></i>
                            @item.Name
                        </td>
                        <td>
                            @if (item.Status.Name == "Enabled")
                            {
                                <span class="label label-md label-success">Enabled</span>
                            }
                            else if (item.Status.Name == "Disabled")
                            {
                                <span class="label label-md label-default">Disabled</span>
                            }
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.CreatedDate.ToString("dd.MMM HH:mm tt")
                        </td>
                        <td>
                            @item.ModifiedDate.ToString("dd.MMM HH:mm tt")
                        </td>
                        <td>
                            <a asp-action="" class="text-success">
                                <i class="glyphicon glyphicon-share icon icon-lg"></i>
                            </a>
                            <a asp-route="FormEdit" asp-route-id="@item.Id" class="text-info">
                                <i class="glyphicon glyphicon-edit icon icon-lg"></i>
                            </a>
                            <a asp-route="FormDelete" asp-route-id="@item.Id" class="text-danger confirm-delete" onclick="return confirmDelete(this, '@item.Name');">
                                <i class="glyphicon glyphicon-trash icon icon-lg"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p class="text-center">
            <a asp-action="Create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                Add new template
            </a>
        </p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript">
        function confirmDelete(sender, formName) {
            if ($(sender).attr("confirmed") == "true") { return true; }

            bootbox.confirm({
                title: "Are you sure?",
                message: `You will not be able to retrieve the Form <b>${formName}</b> after this.`,
                className: "modal--middle",
                buttons: {
                    confirm: {
                        label: "Yes, delete it",
                        className: "btn-success"
                    },
                    cancel: {
                        label: "No, keep it",
                        className: "btn-danger"
                    }
                },
                callback: function (confirmed) {
                    if (confirmed) {
                        $(sender).attr("confirmed", confirmed)
                        sender.click();
                    }
                }
            })
 

            return false;
        }
    </script>
}