@model IEnumerable<FormBriefVM>

@{
    ViewData["Title"] = "Shared Forms";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<h2>Forms shared with me</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table forms-table">
            <thead class="page-header">
                <tr class="active">
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th class="col-md-2">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var form in Model)
                {
                    <tr class="form">
                        <td>
                            <i class="glyphicon glyphicon-exclamation-sign icon icon-lg
                               @(form.ImportanceLevel == 1 ? "text-info" :
                                @form.ImportanceLevel == 2 ? "text-warning" :
                                "text-danger")"></i>
                            @form.Name
                        </td>
                        <td>
                            @if (form.Status.Name == "Enabled")
                            {
                                <span class="label label-md label-success">Enabled</span>
                            }
                            else if (form.Status.Name == "Disabled")
                            {
                                <span class="label label-md label-default">Disabled</span>
                            }
                        </td>
                        <td>
                            @form.Description
                        </td>
                        <td>
                            @form.CreatedDate.ToString("dd.MMM HH:mm tt")
                        </td>
                        <td>
                            @form.ModifiedDate.ToString("dd.MMM HH:mm tt")
                        </td>
                        <td>
                            <a asp-route="Edit" asp-route-id="@form.Id" class="text-info" title="Edit">
                                <i class="glyphicon glyphicon-edit icon icon-lg"></i>
                            </a>
                            <a href="#" class="text-danger" title="Remove from Shared" onclick="return confirmDelete(event, this, '@form.Id', '@form.Name');">
                                <i class="glyphicon glyphicon-trash icon icon-lg"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript">
        function confirmDelete(event, sender, formId, formName) {
            event.preventDefault();

            bootbox.confirm({
                title: "Are you sure?",
                message: `You will not be able to access the Form <b>${formName}</b> after removing it from the shared list.`,
                className: "modal--middle",
                buttons: {
                    confirm: {
                        label: "Yes, delete it",
                        className: "btn-success"
                    },
                    cancel: {
                        label: "No, keep it",
                        className: "btn-danger"
                    }
                },
                callback: function (confirmed) {
                    if (confirmed) {
                        $.ajax({
                            type: "DELETE",
                            url: `./Shared/${formId}/unshare`,
                            success: function (response) {
                                $(sender).closest(".form").remove();
                            }
                        })
                    }
                }
            });

            return false;
        }
    </script>
}